{% extends "main.html" %}
{% block title %}Hall Of Fame{% endblock %}

{% block content %}


<!-- <div class="container"> -->
  <h1>All vulnerabilities</h1>
  <table class="table table-hover">
	<thead>
			<tr>
          <th>id</th>
					<th>Report Date</th>
					<th>Reporter</th>
					<th>constituent</th>
					<th>type</th>
          <th>PoC</th>
          <th>Incident Number</th>
          <th>DO</th>
          <th>patched</th>
          <th>published</th>
			<tr>
	</thead>
	<tbody>
			{% for hof_vuln in hof_vulns %}
        {% if hof_vuln.patched == "yes" %}
          <tr class="success">
        {% else %}
          <tr class="warning">
        {% endif %}
        <td><a class="text-center text-info" href={{ url_for('view_vuln',vuln_id=(hof_vuln.id)) }}>{{ hof_vuln.id }}</a></td>
				<td>{{ hof_vuln.report_date }}</td>
        <td><a class="text-center text-info" href={{ url_for('display_reporter',reporter=(hof_vuln.reporter)) }}>{{ hof_vuln.reporter }}</a></td>
        <td><a class="text-center text-info" href={{ url_for('display_constituent',constituent=(hof_vuln.constituent)) }}>{{ hof_vuln.constituent }}</a></td>
        <td>{{ hof_vuln.type }}</td>
        <td style="word-wrap: break-word;word-break: break-all;">{{ hof_vuln.url }}</td>
        <!-- <td>{{ hof_vuln.Incident }}</td> -->
        <td><a class="text-center text-info" href={{ url_for('view_vuln',vuln_id=(hof_vuln.id)) }}>{{ hof_vuln.Incident }}</a></td>
        <td><a class="text-center text-info" href={{ url_for('display_dutyoff',dutyoff=(hof_vuln.DO)) }}>{{ hof_vuln.DO }}</a></td>
        <td>{{ hof_vuln.patched }}</td>
        <td>{{ hof_vuln.published }}</td>
			</tr>
			{% endfor %}
	</tbody>
	</table>
<!-- </div> -->
{% endblock %}
