{% extends "main.html" %}
{% block title %}View vulnerability{% endblock %}

{% block content %}

<script type:'text/javascript'>
function addData() {
  // getting the number of entries so create
  var number = document.getElementById("post_data").value;
  number ++;

  //cleaning
  var container = document.getElementById("dynamicData");
  while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }

  for (counter=1;counter<number;counter++){
    //initializing stuffs
    var data_key = document.createElement("input");
    var data_value = document.createElement("input");
    var label_key = document.createElement("label");
    var label_value = document.createElement("label");
    var data_div = document.createElement("div");
    var key_div = document.createElement("div");
    var value_div = document.createElement("div");

    //setting type and names
    data_key.type = "text";
    data_value.type = "text";
    data_key.name = "key"+counter;
    data_value.name = "value"+counter;
    data_key.className = "form-control";
    data_value.className = "form-control";

    //setting the div
    key_div.className = "col-sm-10";
    value_div.className = "col-sm-10";

    //setting the labels
    label_key.setAttribute("for",data_key);
    label_key.className = "control-label col-sm-2";
    label_key.innerHTML = "Key" + counter;
    //
    label_value.setAttribute("for",data_value);
    label_value.className = "control-label col-sm-2";
    label_value.innerHTML = "Value" + counter;

    //building HTML
    container.appendChild(data_div);
    //
    data_div.appendChild(key_div);
    key_div.appendChild(data_key);
    data_div.insertBefore(label_key, key_div);
    //
    data_div.appendChild(value_div);
    value_div.appendChild(data_value);
    data_div.insertBefore(label_value, value_div);
  }
}
</script>


{% for hof_vuln in hof_vulns %}

<div class="col-md-6 col-md-offset-3">
  <h3 class="text-center text-info"> vulnerability </h3>
    <form method="post" action="{{ url_for('update_vuln') }}" class="form-horizontal">
      <fieldset class="form-group">
        <label for="DO" class="control-label col-sm-2">Duty officer initials</label>
        <div class="col-sm-10">
          <input type="text" name="DO" class="form-control" value={{ hof_vuln.DO }}>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="constituent" class="control-label col-sm-2">constituent</label>
        <div class="col-sm-10">
          <input type="text" name="constituent"  class="form-control" value={{ hof_vuln.constituent }}>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="reporter" class="control-label col-sm-2">reporter</label>
        <div class="col-sm-10">
          <input type="text" name="reporter" class="form-control" value={{ hof_vuln.reporter }}>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="report_date" class="control-label col-sm-2">report date</label>
        <div class="col-sm-10">
          <input type="text" name="report_date" class="form-control" value={{ hof_vuln.report_date }}>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="incident_number" class="control-label col-sm-2">incident number</label>
        <div class="col-sm-10">
          <input type="text" name="incident_number"  class="form-control" value={{ hof_vuln.Incident }} readonly>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="vuln_type" class="control-label col-sm-2">Type</label>
        <div class="col-sm-10">
          <input type="text" name="vuln_type"  class="form-control" value={{ hof_vuln.type }}>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="method" class="control-label col-sm-2">method</label>
        <div class="col-sm-10">
          <select name="method"  class="form-control" value={{ hof_vuln.method }}>
            <option>GET</option>
            <option>POST</option>
          </select>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="url" class="control-label col-sm-2">URL</label>
        <div class="col-sm-10">
          <textarea rows="3" name="url"  class="form-control" readonly>{{ hof_vuln.url }}</textarea>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="data" class="control-label col-sm-2">data</label>
        <div class="col-sm-10 text-center">
          <div id="dynamicData">
            {% set counter = '' %}
            {% if hof_vuln.data %}
              {% set counter = hof_vuln.data|length %}
              {% for key, value in hof_vuln.data.iteritems() %}
                {% set name_key = 'key' ~ loop.index %}
                {% set name_value = 'value' ~ loop.index %}
                <label for="{{ name_key }}" class="control-label col-sm-2">Key{{ loop.index }} </label>
                <div class="col-sm-10">
                  <input type="text" name="{{ name_key }}"  class="form-control" value={{ key }}>
                </div>
                <label for="{{ name_value }}" class="control-label col-sm-2">Value{{ loop.index }} </label>
                <div class="col-sm-10">
                  <input type="text" name="{{ name_value }}"  class="form-control" value={{ value }}>
                </div>
              {% endfor %}
            {% endif %}
            <!-- Loop for all entry in the data dictionary -->
          </div>
          <input type="text" id="post_data" name="post_data" value="{{ counter }}" placeholder="Number of POST parameter">
          <input type="button" class="btn btn-primary" value="Add POST data" onClick="addData();">
        </div>
<!--
        <div class="col-sm-10">
          <input type="text" name="data"  class="form-control" value={{ hof_vuln.data }}>
        </div>
-->
      </fieldset>
      <fieldset class="form-group">
        <label for="check_string" class="control-label col-sm-2">String to check</label>
        <div class="col-sm-10">
          <input type="text" name="check_string"  class="form-control" value={{ hof_vuln.check_string }}>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="scanable" class="control-label col-sm-2">scanable</label>
        <div class="col-sm-10">
          <select name="scanable"  class="form-control" value={{ hof_vuln.scanable }}>
            <option>yes</option>
            <option>no</option>
          </select>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="published" class="control-label col-sm-2">published</label>
        <div class="col-sm-10">
          <select name="published"  class="form-control" value={{ hof_vuln.published }}>
            <option>no</option>
            <option>yes</option>
          </select>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <input type="submit"  class="btn btn-primary" value="update" name="action">
<!--          <input type="submit"  class="btn btn-primary" value="test" name="action"> -->
        </div>
      </div>
    </form>
</div>
{% endfor %}

{% endblock %}
